<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Travel Planner</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="src/client/images/weather-icon.png" type="image/x-icon">
</head>

<body>
  <div id="app">
    <header class="holder headline">
      <img src="src/client/images/weather-icon.png" alt="Weather App Icon">
      <span>Travel Planner</span>
    </header>
    <div class="holder location">
      <label for="location">Enter Location Name *</label>
      <input type="text" id="location" placeholder="ex: Paris, France">
    </div>
    <div class="holder date">
      <label for="date">Enter Departure Date *</label>
      <input type="text" id="date" placeholder="Departure Date">
    </div>
    <div class="holder">
      <button id="generate" type="submit"> Generate </button>
    </div>
    <div class="holder entry" id="retrievedData">
      <div class="title"></div>
      <div id="entryHolder">
        <div id="date"></div>
        <div id="temp"></div>
        <div id="content"></div>
      </div>
    </div>
    <div class="holder entry" id="dataPlaceholder"></div>
  </div>
</body>

</html>