<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Travel Planner</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="https://image.flaticon.com/icons/png/512/3125/3125848.png" type="image/x-icon">
</head>

<body>
  <header>
    <img class="app-icon" src="https://image.flaticon.com/icons/png/512/3125/3125848.png" alt="Weather App Icon">
    <h1 class="app-title">Travel Planner</h1>
  </header>

  <main id="app">
    <section>
      <div class="location">
        <label for="location">Your Destination *</label>
        <input type="text" id="location" placeholder="ex: Berlin, Germany" title="Enter your destination">
      </div>
      <div class="date">
        <label for="datePicker">Departure Date *</label>
        <input type="date" id="datePicker" placeholder="Departure Date" title="Pick your departure date">
      </div>
      <div>
        <button id="generate" title="Get Weather Forecast" type="submit">Get Weather Forecast</button>
        <button id="button-loading" style="display: none;" disabled>Loading...</button>
      </div>
    </section>

    
    <section>
      <img id="location-placeholder" class="placeholder-image" src="https://image.flaticon.com/icons/png/512/744/744502.png"/>
      <img id="location-image" style="display: none;"/>
    </section>
    
    <section>
      <img id="weather-placeholder" class="placeholder-image" src="https://image.flaticon.com/icons/png/512/1146/1146795.png"/>
      <div id="weather-data" class="weather-data" style="display: none;">
        <h2 id="weather-title" class="weather-data__title"></h2>
        <div id="weather-icon" class="weather-data__icon"></div>
        <div id="weather-temp" class="weather-data__temp"></div>
        <div id="weather-description" class="weather-data__description"></div>
      </div>
    </section>
  </main>
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>
</body>

</html>